img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#navbar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--neutral);
  padding: 20px;
  margin-right: 20px;
  font-size: 20px;
  margin-bottom: 10px;
}
.nav-links {
  display: flex;
  list-style: none;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

#opener {
  text-align: center;
  font-style: italic;
  font-size: 20px;
  color: #172c66;
}

body {
  background-color: #fec7d7;
  font-family: garamond;
  font-size: 25px;
}

.flashy {
  font-style:italic;
  color:red; 
}

#best {
  font-style:italic;
  color:purple
}

.headers {
  text-align: center;
  font-size: 30px;
  color: #0e172c;
}

#welcome-section  h1 {
  margin-top: 100px;
}

#img {
  display: block;
  margin-left: ;
  margin-right: 30%;  
  width: 5%;
}

#hours {
  display: inline-block;
  font-size: 20px;
}

.hrs {
  text-align: center;
}